*.swp
*.o
*.hex
*.elf
*.pyc

*.aux
*.log
*.ps
*.out
*.toc
*.synctex.gz

*.fls
*.fdb_latexmk
__latexindent_temp.text

.ipynb_checkpoints/*
scripts/.ipynb_checkpoints/*

*/scripts/.ipynb_checkpoints/
.vscode/*

